<%#= form_with(model: report) do |form| %>
<%= form_with url: "reports/analytics", method: :get  do |form| %> <%# dont understand url: "/analytics", update to url: "reports/analytics"  %>

  <div>
    <%= form.label :start_date, "Period from" %>
    <%= form.date_field :start_date %>
  </div>

  <div>
    <%= form.label :end_date, "Period to" %>
    <%= form.date_field :end_date %>
  </div>

  <div>
    <%= form.label :transaction_type, style: "display: block" %>
    <%= form.select :transaction_type, Operation.transaction_types.keys %>
  </div>

  <div>
    <%= form.label :category_id, style: "display: block" %>
    <%= form.select :category_id, Category.pluck("name", "id") %> <%# не пішло з тим мульти селектом %>
  </div>

  <br>

  <div>
    <button><%= link_to "Clear", reports_path %></button>
<!--    <button><%#= link_to "By Graph", report_by_category_reports_path %></button> why don`t work-->
<!--    <button><%#= link_to "By Dates", report_by_dates_reports_path %></button> don`t work-->
  </div>

  <br>

  <div>
    <%= form.submit "By Date" %>
  </div>

<%end %>
