<!--<h1>Reports#analytics</h1>-->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<%if params[:commit] == "By Date"%>
  <h1>Reports#By Date</h1>
  <!--Period-->

  you chose Report "By Date" in period from: <%= @start_date %> to  <%= @end_date %><br>

  <p>
    <strong>Transaction type:</strong>
    <%= @trans_type %>

  </p>
  <br>

  <div>
    <canvas id="myChart" width="400" height="400"></canvas>
  </div>
  <script>
      const ctx = document.getElementById('myChart');
      const data = {
          labels: <%= raw @dat_dat %>,
          datasets: [{
              label: 'By Date',
              data: <%= @dat_sum %>,
              fill: false,
              borderColor: 'rgb(24,31,31)',
              tension: 0.1
          }]
      };

      const config = {
          type: 'line',
          data: data,
          options: {
              responsive: false
          }
      };

      const myChart = new Chart(ctx, config);
  </script>
  <br>


<%elsif params[:commit] == "By Category" %>
  <h1>Reports#By Category</h1>
  <!--Period-->

  you chose report "By Category" in period from: <%= @start_date %> to  <%= @end_date %>

  <p>
    <strong>Transaction type:</strong>
    <%= @trans_type %>
  </p>
  <br>




  <div>
    <canvas id="myChart" width="600" height="600"></canvas>
  </div>
  <script>
      const ctx = document.getElementById('myChart');
      const data = {
          labels: <%= raw @cat_names %>,
          datasets: [{
              label: 'By Category',
              data: <%= raw @cat_sums %>,
              backgroundColor: [
                  'rgb(255, 99, 132)',
                  'rgb(54, 162, 235)',
                  'rgb(255, 205, 86)',
                  'rgb(555, 305, 126)',
                  'rgb(755, 105, 726)',
                  'rgb(355, 305, 126)',
                  'rgb(50,88,191)',
                  'rgb(125, 305, 126)',
                  'rgb(9,193,229)'
              ],
              hoverOffset: 4
          }]
      };

      const config = {
          type: 'pie',
          data: data,
          options: {
              responsive: false
          }
      };

      const myChart = new Chart(ctx, config);
  </script>
  <br>






<% end%>

<br>

<button><%= link_to "Back", reports_path  %></button>


