<h1>Reports#report_by_category</h1>
<!--<p>Find me in app/views/reports/report_by_category.html.erb</p>-->





<!--<h1>Reports#analytics</h1>-->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<%if params[:commit] == "By Date"%>
  <h1>Reports#By Date</h1>
  <!--Period-->

  you chose By Date in period from: <%= @start_date %> to  <%= @end_date %>

  <div>
    <canvas id="myChart" width="400" height="400"></canvas>
  </div>
  <script>
      const ctx = document.getElementById('myChart');
      const data = {
          labels: [1,2,3,4,5,6],
          datasets: [{
              label: 'By Date',
              data: [10,40,30,25,50,22],
              fill: false,
              borderColor: 'rgb(75, 192, 192)',
              tension: 0.1
          }]
      };

      const config = {
          type: 'line',
          data: data,
          options: {
              responsive: false
          }
      };

      const myChart = new Chart(ctx, config);
  </script>
  <br>
  <!--Table by dates-->
  <table >
    <% @records.each do |record| %>
      <tr>
        <th style="border: 1px solid">Date</th>
        <th style="border: 1px solid">Type</th>
        <th style="border: 1px solid">Summ</th>
      </tr>
      <tr>
        <td style="border: 1px solid"> <%= record.odate %></td>
        <td style="border: 1px solid"> <%= record.transaction_type %></td>
        <td style="border: 1px solid"> <%= record.amount %></td>
      </tr>
    <% end %>
  </table>

<%elsif params[:commit] == "By Category" %>
  <h1>Reports#By Category</h1>
  <!--Period-->

  you chose By Category in period from: <%= @start_date %> to  <%= @end_date %> </n>


  <div>
    <canvas id="myChart" width="600" height="600"></canvas>
  </div>
  <script>
      const ctx = document.getElementById('myChart');
      const data = {
          labels: <%= raw @cat_data %>,
          datasets: [{
              label: 'By Category',
              data: [100, 450, 50],
              backgroundColor: [
                  'rgb(255, 99, 132)',
                  'rgb(54, 162, 235)',
                  'rgb(255, 205, 86)',
                  'rgb(555, 305, 126)',
                  'rgb(755, 105, 726)',
                  'rgb(355, 305, 126)',
                  'rgb(50,88,191)',
                  'rgb(125, 305, 126)',
                  'rgb(9,193,229)'
              ],
              hoverOffset: 4
          }]
      };

      const config = {
          type: 'pie',
          data: data,
          options: {
              responsive: false
          }
      };

      const myChart = new Chart(ctx, config);
  </script>
  <br>
  <!--Table-by categories-->
  <table >

      <tr>
        <th style="border: 1px solid">Category</th>
        <th style="border: 1px solid">Type</th>
        <th style="border: 1px solid">Summ</th>
      </tr>
    <% @records.map do |record| %>
      <tr>
        <td style="border: 1px solid"> <%= record.category.name %></td>
        <td style="border: 1px solid"> <%= record.transaction_type %></td>
        <td style="border: 1px solid"> <%= record.amount %></td>
      </tr>
    <% end %>


  </table>

<% end%>

<br>

<button><%= link_to "Back", reports_path %></button>



